{% load static %}

<link href="{% static 'base/css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'base/css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet">
<link href="{% static 'base/css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
<link href="{% static 'base/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
<link href="{% static 'base/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
<link href="{% static 'base/css/helper.css' %}" rel="stylesheet">
<link href="{% static 'base/css/style.css' %}" rel="stylesheet">
