{% include 'css.html' %}
{% include 'header.html' %}
{% include 'scripts.html' %}

{% block content %}
{% load static %}

{% if user.is_authenticated and user.is_superuser%}

    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles border-bottom border-danger">
            <div class="col-md-5 align-self-center">
                <h3 class="text-dark"><i class="fa fa-meh-o" style="color: black"></i> Emotion Recognition</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'dashboard' %}>Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Data Analytics</a></li>
                    <li class="breadcrumb-item active">Emotion Recognition</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            
            <!-- Start of 1st row -->
            <div class="row">
                <!--start of definition-->
                <div class="col-md-5">
                    <div class="card border border-danger " style="height: 512px">
                        <div class="card-body">
                            <h2 class="border-bottom border-danger text-dark"> <i class="fa fa-book text-warning"> </i> Emotion Recognition</h2>
                            <div class="tab-content br-n pn">
                                <div id="navpills-1" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-md-4"> <img src="{% static 'base/img/Neutral_Emoji.jpg' %}" class="img-fluid thumbnail m-r-15 " > </div>
                                        <div class="col-md-8"> <p class="f-s-18 text-dark m-t-1" style="text-align: justify;">Emotion recognition is a technique used in software that allows a program to "read" the emotions on a human face using advanced image processing.
                                            <p class="f-s-18 text-dark" style="text-align: justify;">
                                                Emotion recognition refers in psychology to the attribution of emotional states based on the observation of visual and auditory nonverbal cues. Nonverbal cues include facial, vocal, postural, and gestural cues displayed by a sender, that is, a person displaying an emotional reaction.
                                            </p>
                                            <p class="f-s-18 text-dark" style="text-align: justify;">
                                                The web application uses emotion recognition to easily determine the student's emotion in regards to the University's services through the use of the google form survey that they have answered.
                                            </p>
                                        </div>
                                        <div class="col-md-4"> <img src="{% static 'base/img/Negative_Emoji.jpg' %}" class="img-fluid thumbnail m-r-15 m-t-n9" > </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of Emo recog definition-->
                <!-- Top 5 start 1-->
                <div class="col-lg-7">
                    <div class="card border border-danger ">
                        <div class="card-body" >
                            <h2 class="border-bottom border-danger "> <i class="fa fa-star text-warning"> </i> Top 5 Emotions</h2>
                            <center>
                                <img alt="emotion-top-5" class="responsive" style="width: 839px" src={{filename_ER_TOP}}></img>
                            </center>  
                        </div>
                    </div>
                </div>
                <!-- Top 5 end 1-->
                <!--start of Bar chart Emo recog-->
                <div class="col-md-12">
                    <div class="card border border-danger">
                        <div class="card-body">
                            <h2 class="border-bottom border-danger"><i class="fa fa-bar-chart-o text-warning"> </i> Emotion Recognition Bar Chart</h2>
                            <center>
                                <img alt="emotion-chart" src={{filename_ER}}></img>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- end of Bar chart Emo recog-->
                <!--start of table-->
                <div class="col-12">
                    <div class="card border border-danger ">
                        <div class="card-body">
                            <h2 class="border-bottom border-danger text-dark"> <i class="fa fa-table text-warning"> </i> Emotion Recognition Table</h2>
                            <div class="table-responsive m-t-10">
                                <table id="myTable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                           
                                            <th><b>Emotion Label</b></th>
                                            <th><b>Accuracy Score</b></th>
                                            <th><b>Comments</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in emotion_list %}
                                            <tr>
                                                <td>{{e.label}}</td>
                                                <td>{{e.score}}</td>
                                                <td>{{e.comments}}</td>
                                            </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of table-->
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2022 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a> || UE Analysis System</footer>
        <!-- End footer -->
    <!-- End Page wrapper  -->
    <!-- End Wrapper -->

{% elif user.is_authenticated and user.is_staff %}
        {% include 'college/engineering-emotion.html'%}

{% else %}
        {% include 'student/emotion-student.html' %}

{% endif %}

{% endblock %}