{% include 'scripts.html' %}
{% include 'css.html' %}
{% include 'header.html' %}

{% block content %}
{% load static %}

<div class = "page-wrapper ">
    
<!-- Page Wrapper -->
    <!-- Bread crumb -->
    <div class="row page-titles border-bottom border-danger">
        <div class="col-md-5 align-self-center">
            <h3 class="text-dark"><i class="fa fa-user-secret " style="color: black"></i> Privacy Policy</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">Privacy Policy</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Eligibility -->
        <!--end of row 1-->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Eligibility</h4>
                            <div class="p-20">
                                <h5 class="text-dark">In order to use the Service, you must:</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">1. be a business or a consumer able to enter into valid contracts; </p>
                                    <p class="text-dark m-t-n7">2. complete the signup process; </p>
                                    <p class="text-dark m-t-n7">3. agree to the Terms; and </p>
                                    <p class="text-dark m-t-n7">4. provide true, complete, and up to date contact information.  </p> 
                                </div>    
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row 1-->
        <!-- end Eligibility -->
    
        <!-- Start >Accepting these Terms -->
        <!-- start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Accepting these Terms</h4>
                            <div class="p-20">
                                <p class="text-dark">These Terms apply from when you sign up for the Service. Clicking the ‘Get started’ or ‘Sign up with Google’ button on the Sign up page means that you’ve officially “signed” the Terms and a binding contract will come into existence on the basis of the Terms (“Agreement”). If you sign up for the Service on behalf of a company or other entity, you represent and warrant that you have the authority to accept these Terms on their behalf.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End P>Accepting these Terms -->

        <!-- Start Rules and Regulations -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Rules and Regulations</h4>
                            <div class="p-20">
                                <!--start of part 1-->
                                <h5 class="text-dark">You promise to follow these rules:</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">    1. You won’t send Spam! By "spam", we mean the definition provided by Spamhaus; </p>
                                    <p class="text-dark m-t-n7">    2. You won’t use purchased, rented, or third-party lists of email addresses; </p>
                                    <p class="text-dark m-t-n7">    3. You won’t violate our Acceptable use policy, which is part of this Agreement; </p>
                                    <p class="text-dark m-t-n7">    4. If you violate any of these rules, then we may suspend or terminate your account;  </p> 
                                    <p class="text-dark m-t-n7">    5. You will comply with all applicable data protection legislation, including the EU General Data Protection Regulation; and  </p> 
                                    <p class="text-dark m-t-n7">    6. You may only use our bandwidth for your use of the Service. </p> 
                                </div>
                                <!--end of part 1-->
                                <!--start of part 2-->
                                <h5 class="text-dark">You shall:</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">    1. provide us with all necessary cooperation in relation to the Service and all necessary access to such information as may be required by us in order to provide you with the Service; </p>
                                    <p class="text-dark m-t-n7">    2. comply with all applicable laws and regulations with respect to your Content and activities under these Terms; </p>
                                    <p class="text-dark m-t-n7">    3. obtain and shall maintain all necessary licenses, consents, and permissions necessary for us, our contractors and agents to perform our obligations under these Terms, including without limitation the Service; </p>
                                    <p class="text-dark m-t-n7">    4. ensure that your Amazon Web Services (“AWS”) account complies with the requirements specified by us on our website from time to time; and
                                    <p class="text-dark m-t-n7">    5. be solely responsible for maintaining your AWS account necessary for the provision of the Service.  </p> 
                                </div>
                                <!--end of part 2-->
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Rules and Regulations -->
    
        <!-- Start Account and Password -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Account and Password</h4>
                            <div class="p-20">
                                <p class="text-dark">You’re responsible for keeping your account name and password confidential. You’re also responsible for any use of your account, whether or not you authorized the use. You must immediately notify us of any unauthorized use of your accounts. We’re not responsible for any losses due to stolen or hacked passwords. We don’t have access to your current password, and for security reasons, we may only reset your password.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Account and Password -->
    
        <!-- Start Liability -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Liability</h4>
                            <div class="p-20">
                                <!--start of part 1-->
                                <h5 class="text-dark">Indemnity</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">You shall defend, indemnify and hold us harmless against claims, actions, proceedings, losses, damages, expenses and costs (including without limitation court costs and reasonable legal fees) arising out of or in connection with your use of the Service (or us taking any action in relation to the Service at your direction), including any claim or action from a recipient of any Content sent by means of the Service. </p>
                                </div>
                                <!--end of part 1-->
                                <!--start of part 2-->
                                <h5 class="text-dark">Our responsibility for loss or damage if you are a business:</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">    1. arising under or in connection with these Terms; </p>
                                    <p class="text-dark m-t-n7">    2. in respect of any use made by you of the Service; and </p>
                                    <p class="text-dark m-t-n7">    3. in respect of any representation, statement or tortious act or omission (including negligence) arising under or in connection with these Terms. </p>
                                </div>
                                <!--end of part 2-->
                                <!--start of part 3-->
                                <h5 class="text-dark">Except as expressly and specifically provided in these Terms:</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">    1. you assume sole responsibility for results obtained from your use of the Service, and for conclusions drawn from such use. We shall have no liability for any damage caused by errors or omissions in any information, instructions or scripts provided to us by you in connection with the Service, or any actions taken by us at your direction; </p>
                                    <p class="text-dark m-t-n7">    2. all warranties, representations, conditions and all other terms of any kind whatsoever implied by statute or common law are, to the fullest extent permitted by applicable law, excluded from these Terms; and </p>
                                    <p class="text-dark m-t-n7">    3. the Service is provided to you on an “as is” basis. </p>
                                </div>
                                <!--end of part 3-->
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Liability -->

        <!-- Start Rights -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Rights</h4>
                            <div class="p-20">
                                <!--start of part 1-->
                                <h5 class="text-dark">Proprietary rights owned by us</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">Subject to the limited rights expressly granted in these Terms, we reserve all our rights in and to the Services, including all of our related intellectual property rights (including patents, trademarks, trade secrets, and copyrights). No rights are granted to you under these Terms other than as expressly set forth in these Terms. You will respect our proprietary rights. “falcon” and the “falcon” logo are trademarks belonging to ThemeWagon, Inc. You are not authorized by us to use our trademarks or brand assets without prior permission. </p>
                                </div>
                                <!--end of part 1-->
                                <!--start of part 2-->
                                <h5 class="text-dark">Proprietary rights owned by you</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">You represent and warrant that you either own or have permission to use all of your Content. You retain ownership of your Content. By using the Service you grant us and our agents and subcontractors a license to use your Content in order for us to provide, and ensure proper operation of the Service. You acknowledge and agree that we will have the right to use your Content in an anonymized way (which does not identify you or the recipient) for the purposes of increasing our spam identification techniques.</p>
                                </div>
                                <!--end of part 2-->
                                <!--start of part 3-->
                                <h5 class="text-dark">Privacy Policy</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">We may use and disclose your information according to our Privacy Policy. Our Privacy Policy is treated as part of these Terms </p>
                                </div>
                                <!--end of part 3-->
                                <!--start of part 4-->
                                <h5 class="text-dark">Waiver</h5>
                                <div class="m-l-20">
                                    <p class="text-dark m-t-n6">Even if we delay in enforcing these terms, we can still enforce them later. If we do not insist immediately that you do anything you are required to do under these terms, or if we delay in taking steps against you in respect of your breaking them, that will not mean that you do not have to do those things and it will not prevent us from taking steps against you at a later date. </p>
                                </div>
                                <!--end of part 4-->
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Rights -->
    </div>

    <!-- End Container fluid  -->
    <footer class="footer"> © 2022 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a> || UE Analysis System</footer>
</div>
<!-- End Page Wrapper -->

{% endblock %}