{% include 'scripts.html' %}
{% include 'css.html' %}
{% include 'header.html' %}

{% block content %}
{% load static %}

<div class = "page-wrapper ">
    
<!-- Page Wrapper -->
    <!-- Bread crumb -->
    <div class="row page-titles border-bottom border-danger">
        <div class="col-md-5 align-self-center">
            <h3 class="text-dark"><i class="fa fa-user-secret " style="color: black"></i> Privacy Policy</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">Privacy Policy</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Owner -->
        <!--end of row 1-->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Owner</h4>
                            <div class="p-20">
                                <h5 class="text-dark">
                                    This web application is operated and developd by the researchers from the CPE Department, College of Engineering, University of the East - Manila.
                                </h5>  
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row 1-->
        <!-- end Owner -->
    
        <!-- Start Data collecting -->
        <!-- start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Data Collection</h4>
                            <div class="p-20">
                                <h5 class="text-dark">
                                    The data being collected for the use of this web application are the answers that the respondents relay through Google Forms. No personal or identity data is being recorded and archived. Respondents have consented to answering the Google Form and acknowledge that the information gathered from this will be processed and used in this web application. 
                                </h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Data collecting -->

        <!-- Start Data Processing -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Data Processing</h4>
                            <div class="p-20">
                                <h5 class="text-dark">
                                    The data collected and processed will only be available through this web application and will be used by the administrative bodies of the University of the East, Manila as deemed necessary to improve the school and the lives of the students. 
                                </h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Data Processing -->
    
        <!-- Start Access -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Access</h4>
                            <div class="p-20">
                                <h5 class="text-dark">
                                    No third parties will be allowed to access the data under any circumstance. This data will not be accessed or used overseas. Users can access and view data, but cannot modify the data from the respondents. 
                                </h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Access -->
    
        <!-- Start Policy changes and enactment -->
        <!--start of row -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card border border-danger">
                    <div class="card-body">
                        <h4 class="card-title border-bottom border-danger text-dark">Policy changes and enactment</h4>
                            <div class="p-20">
                                <h5 class="text-dark">
                                    If there are any changes regarding the privacy policy, users will be notified. There is no current effective date for this privacy policy.
                                </h5>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row -->
        <!-- End Policy changes and enactment -->
    </div>

    <!-- End Container fluid  -->
    <footer class="footer"> © 2022 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a> || UE Analysis System</footer>
</div>
<!-- End Page Wrapper -->

{% endblock %}