{% load static %}

<!-- All Jquery -->
<script src="{% static 'base/js/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/js/lib/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'base/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'base/js/sidebarmenu.js' %}"></script>
<script src="{% static 'base/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'base/js/lib/morris-chart/raphael-min.js' %}"></script>
<script src="{% static 'base/js/lib/morris-chart/morris.js' %}"></script>
<script src="{% static 'base/js/lib/morris-chart/dashboard1-init.js' %}"></script>
<script src="{% static 'base/js/lib/calendar-2/moment.latest.min.js' %}"></script>
<script src="{% static 'base/js/lib/calendar-2/semantic.ui.min.js' %}"></script>
<script src="{% static 'base/js/lib/calendar-2/prism.min.js' %}"></script>
<script src="{% static 'base/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
<script src="{% static 'base/js/lib/calendar-2/pignose.init.js' %}"></script>
<script src="{% static 'base/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'base/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
<script src="{% static 'base/js/scripts.js' %}"></script>

<!-- Echart Sentiment Scripts -->
<script src="{% static 'base/js/lib/echart/echarts.js' %}"></script>
<script src="{% static 'base/js/lib/echart/echarts-init.js' %}"></script>
<script src="{% static 'base/js/lib/echart/sentiment-analysis-init.js' %}"></script>
<script src="{% static 'base/js/lib/echart/dashboardchart.js' %}"></script>
<script src="{% static 'base/js/lib/morris-chart/emotion-recognition-init.js' %}"></script>

<!-- Data Table Scripts -->
<script src="{% static 'base/js/lib/datatables/datatables.min.js'  %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js'  %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js'  %}"></script>
<script src="{% static 'base/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'base/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
<script src="{% static 'base/js/lib/datatables/datatables-init.js' %}"></script>

<!-- Form validation Script-->
<script src="{% static 'base/js/lib/form-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'base/js/lib/form-validation/jquery.validate.unobtrusive.min.js' %}"></script>
<script src="{% static 'base/js/lib/jquery.nicescroll/jquery.nicescroll.min.js' %}"></script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
